/*---- Body ----*/

body, html {
font-family: 'Cormorant Garamond', sans-serif;
background-color: rgb(214, 194, 177);
height: 100%;
overflow-x: hidden;
overflow-y: auto;
}

/*---- Home Page ----*/

.carousel-inner img {
width: 100%;
height: 100%;
}

.Carosuel-Message {
  margin: auto;
  width: 50%;
  border: 0.2px solid whitesmoke;
  padding: 5px;
  font-weight: lighter;
  letter-spacing: 1px;
  bottom: 15px;
}

.container-wrapper--quotes {
margin-bottom: 5px;
margin-top: 25px;
letter-spacing: 1px;
background-color:  rgb(214, 194, 177);
}

.container-wrapper--grey {
color: whitesmoke;
background-color: rgb(122, 121, 120);
letter-spacing: 1.5px;
margin-top: 25px;
font-weight: 900;

}

.Speciality-Roast {
    margin-top: 25px;
    color: rgb(207, 153, 99);
}

.block-divider--short {
    width: 75px;
    height: 2px;
    border: 0;
    background-color: rgb(89, 109, 109);
}

.fab, .fa-instagram, .fa-lg,  .mr-4, .color-icons{
    color: rgb(207, 153, 99);
    letter-spacing: 3px;
}

/*--- Our Story ---*/

.callout-container-ourstory {
    height: 65vh;
    background: url("../images/jumbotron-backgroundpic.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background-color-ourstory {
    color: white;
    background-color: rgb(207, 153, 99);
    letter-spacing: 1.5px;
    font-weight: 900;
}

/*--.featurette-divider {
     margin-left: 3px;
    margin-right: 3px;
    
}--*/
.row-featurette {
    margin-left: 4px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*--- Menu  ----*/

.menubackground-image {
    background: url("../images/logo-pic8.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-center {
    color:rgb(165, 104, 44);
    padding-top: 5px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.transparent-div {
    background-color: transparent;
}

.card-text--color {
    color:rgb(253, 239, 245);
    line-height: -0.2px;
    letter-spacing: 0.9px;
}

.transparent-alert {
    color: #faa500;
    background-color: transparent;
    letter-spacing: 0.7px;
}

.menu-name-color {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 2.5px;

}

/*--- GALLERY----*/

.gallery-background-picture {
    background: url("../images/menu-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery-name-color {
    color: white;
    font-weight: bolder;
    letter-spacing: 3.5px;
    line-height: 19px;
}

/*-- CONTACT --*/

.background-image-contact {
    background: url("../images/logo-pic1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-paragraph {
    letter-spacing: 5px;
    margin-bottom: 45px;
    font-weight: 300;
}

/*--- Jumbotron ----*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: rgb(255, 255, 255);
}

/*--- Footer ----*/

.page-footer, .font-small, .indigo {
background-color: #504c54;
font-family: 'Cormorant Garamond', sans-serif;
}



/*--- BUTTONS ----*/

.button-color {
    letter-spacing: 3px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background: #b9b3b3;
    background-color: #948f8f;
}